<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dao.Buyer">
	<select id="selectOneByBuyID" resultType="BuyerVO">
		select * from buyer
		where BuyID = #{buyID}
	</select>
	
	<select id="selectBuyerList" resultType="BuyerVO">
		select * from buyer
	</select>
	
	<insert id="insertBuyer">
		insert into buyer(BuyID, BuyPw, BuyName, BuyPN, BuyAdd1, BuyAdd2)
		values(#{buyID}, #{buyPw}, #{buyName}, #{buyPN}, #{buyAdd1}, #{buyAdd2})
	</insert>
	
	<update id="updateByBuyId">
		update buyer
		set BuyPW = #{buyPw}, BuyName = #{buyName}, BuyPN = #{buyPN}, BuyAdd1 = #{buyAdd1}, BuyAdd2 = #{buyAdd2}
		where BuyID = #{buyID}
	</update>
	
	<delete id="deleteByBuyID">
		delete from buyer
		where BuyID = #{buyID}
	</delete>
</mapper>
    