<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.dao.SellerDAO">
	<select id="selectOneBySellID" resultType="SellerVO">
		select * from seller
		where SellID = #{sellID}
	</select>
	
	<select id="selectSellerList" resultType="SellerVO">
		select * from seller		
	</select>
	
	<insert id="insertSeller">
		insert into seller (SellID, SellPw, SellName, SellPN, SellAdd1, SellAdd2)
		values(#{sellID}, #{sellPw}, #{sellName}, #{sellPN}, #{sellAdd1}, #{sellAdd2})
	</insert>
	
	<update id="updateBySellID">
		update seller
		set SellPw = #{sellPw}, SellName = #{sellName}, SellPN = #{sellPN}, SellAdd1 = #{sellAdd1}, SellAdd2 = #{sellAdd2}
		where SellID = #{sellID}
	</update>
	
	<delete id="deleteBySellID">
		delete from seller
		where SellID = #{sellID}
	</delete>
</mapper>